---
import { Image } from "astro:assets";

interface Props {
  title: string;
  description?: string;
  location: string;
  images: {
    src: ImageMetadata;
    alt: string;
  }[];
  color?: string;
}

const { title, description, location, images, color = "#e6f2ef" } = Astro.props;
---

<div class="program-card flex flex-col lg:flex-row w-full max-w-7xl gap-8 py-12">
  <div class="relative w-full lg:w-3/5 grid grid-cols-2 gap-4">
    {images.map((image, index) => (
      <div
        class={`absolute inset-0 ${
          index === 0 ? 'w-screen lg:w-full h-48 lg:h-full' : ''
        }`}
        style={{
          backgroundColor: index === 0 ? color : 'transparent',
        }}
      ></div>
      <div
        class={`relative ${index === 0 ? 'col-span-2' : ''} ${
          index === 1 ? 'mt-12 lg:mt-0' : ''
        }`}
      >

        <Image
          src={image.src}
          alt={image.alt}
          class={`relative z-10 w-full h-full ${
            index === 0 ? 'p-8' : ''
          } object-cover lg:object-cover object-contain`}
        />
      </div>
    ))}
  </div>

  <div class="w-full lg:w-2/5 flex flex-col justify-center space-y-6 px-4 lg:px-0">
    <h2 class="text-[2.2rem] font-bold leading-tight max-w-md">
      {title}
    </h2>
    {description && (
      <p class="text-lg text-gray-700 max-w-md">{description}</p>
    )}
    <div class="flex items-center text-gray-600 space-x-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
        />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 11a3 3 3 0 11-6 0 3 3 0 016 0z"
        />
      </svg>
      <span>{location}</span>
    </div>
  </div>
</div>